*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 73px;
}

section{
    /* height: calc(100vh - 73px); */
    padding-top: 25px;
}

h1, h2, p {
    color: #333333;
}

